<h3> View Rate Details</h3>
<div>
    <div>
        <label> <b> Rate ID: </b></label> {{rates.rateId}}
    </div>
    <div>
        <label> <b> Description: </b></label> {{rates.rateDesc}}
    </div>
    <div>
        <label> <b> Effective Date: </b></label> {{rates.rateEffDate}}
    </div>
     <div>
        <label> <b> Expiration Date: </b></label> {{rates.rateEffDate}}
    </div>
        <div>
        <label> <b> Amount: </b></label> {{rates.amount}}
    </div>
      <div>
        <label> <b> Staus: </b></label> {{rates.status}}
    </div>
      <div>
        <label> <b> Surcharge: </b></label> {{rates.surcharge}}
    </div>
      <div>
        <label> <b> Tax: </b></label> {{rates.tax}}
    </div>
</div>